.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 100px;
  }
  
  .box-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color: white;
    border: solid red 1px;
    width: 890px;
    height: 352px;
    top: 272px;
    left: 99px;
    padding: 30px;
    gap: 20px;
    border-radius: 4px;
    border-radius: 4px;
    max-width: 100%;
  }
  
  .forms-cart {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 830px;
    height: 89px;
    gap: 10px;
    border: solid red 1px;
    background-color: aqua;
    
  }
  .forms-cart > button {
    width: 114px;
    height: 60px;
    top: 29px;
    left: 280px;
  }

  .resume-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border: solid black 1px;
    background-color: white;
    width: 334px;
    height: 364px;
    top: 272px;
    left: 1005px;
    padding: 10px;
    gap: 20px;
    border-radius: 4px;
  }
  
  .resume-cart > .btn-resume-cart {
    width: 300px;
    height: 50px;
    top: 272px;
    left: 1005px;
    padding: 2px;
    gap: 20px;
    border-radius: 4px;
  }
  
  .resume-price {
    border: solid red 1px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .resume-price > p > span {
    border: solid black 1px;
    text-align: right;
    align-items: flex-end;
  }
  
  .text-box-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }

  .forms-cart{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 850px;
    height: 90px;
    border: solid blue 1px;
  }

  .voucher-form{
    width: 400px;
    height: 90px;
    border: solid green 1px;
    
  }

  .freight-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 90px;
    border: solid yellow 1px;

  }

  .voucher-form > input, .freight-form > input{
    width: 250px;
    height: 50px;
    border-radius: 8px;

  }

  .voucher-form > .btn-voucher {
    width: 50px;
    height: 50px;
  }
  
  .freight-form > .btn-freight{
    width: 50px;
    height: 50px;

  }