.confirm-purchease  {
  width: 838px;
  height: 1,000px;
  background-color: white;
  max-width: 600px;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  margin-top: 40px;
}

.sucessfig {
  width: 65px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 200px;
  
 
  

}

.confirm-text{
  color: var(--dark-gray);
  text-align: center;
  margin-bottom: 20px;
  width: 450px;
  height: 62px;
  font-family: Inter;
  font-size: 28px;



    
}


.personal-info{


}

.delivery-info{

}

.payment-info{

}

.purchease-info{

}
  
 
.sucess-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--warning);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  sucess-button:hover {
    background-color: var(--warning);
  }