.trending-products {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.text-trending-products {
  color: var(--dark-gray-2);
}

.text-see-all {
  text-decoration: none;
  color: var(--primary);
}

.container-cards {
  width: 1300px;
  max-width: 100%;
  margin-top: 100px;
}

.card-list {
  display: flex;
  list-style: none;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0 10px;
}

.image {
  width: 78%;
  transform: rotate(-30deg);
}

.card-box {
  margin-bottom: 20px;
  flex: 1 1 40%;
  max-width: 310px;
  animation: slideTop 0.3s ease;
  &:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}

.image-box {
  background-color: #ffffff;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
}

.discount {
  background-color: #e7ff86;
  width: 96px;
  height: auto;
  padding: 8px 0;
  border-radius: 29px;
  font-size: 1rem;
  position: absolute;
  top: 20px;
  left: 15px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
}

.not-found {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: slide 0.3s ease;
}

.not-found div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.not-found div > img {
  width: 150px;
}

@media (max-width: 1115px) {
  .discount {
    width: 70px;
    font-size: 0.8rem;
    top: 10px;
    left: 8px;
    padding: 5px 0;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 5px;
}

.old-price {
  color: var(--light-gray);
  text-decoration: line-through;
  margin-right: 10px;
}

.new-price {
  color: var(--dark-gray);
  font-weight: 700;
}

.tenis-name {
  color: var(--dark-gray-2);
  font-weight: 400;
  font-size: 16px;
}

.tenis-p {
  color: var(--light-gray);
}

@media (min-width: 532px) {
  .card-box {
    flex: 1 1 20%;
  }

  .image-box {
    height: 23vw;
  }
  .tenis-name{
    font-size: 14px;
  }
}

@media (min-width: 631px) {
  .container-cards {
      margin-top: 0;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}