header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 192px;
    padding: 35px 0;
    background-color: var(--white);
}

.div-header {
    display: flex;
    align-items: center;

}

.div-search {}

.div-search input {
    height: 60px;
    color: var(--dark-gray-2);
    background-color: var(--light-gray-3);
    border: 1px solid var(--light-gray-3);
    width: 559px;
    border-radius: 8px;
    padding: 0 20px;
    outline: none;
}

.div-buttons {
    display: flex;
    gap: 5px;
}

.div-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 40px;
    border-radius: 8px;

    &:nth-child(1) {
        color: var(--dark-gray-2);
        text-decoration-color: var(--light-gray);
        text-underline-offset: 2px;
    }
    &:nth-child(2) {
        background-color: var(--primary);
        text-decoration: none;
        color: var(--white);
    }
}

.button-cart {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 35px;
}

.navbar a {
    text-decoration: none;
    color: var(--dark-gray-2);
}