.container-collection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1300px;
  padding: 0 10px;
  max-width: 100%;
  margin-top: 30px;
}

.collection-card {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 100%;
}

.collection-card div {
  display: flex;
  position: relative;
  flex: 1 1 30%;
  min-width: 250px;
  max-width: 45%;
}

.collection-card div img {
  object-fit: cover;
  width: 100%;
}

.cardbutton {
  color: var(--primary);
  background-color: var(--white);
  width: 35%;
  height: 48px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;

  &:hover {
    opacity: 80%;
    transition: 0.3s;
  }
}

.collection-card div p {
  color: var(--dark-gray-2);
  background-color: #e7ff86;
  width: 90px;
  height: 25px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 29px;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 7%;
  left: 7%;
}

.svg-icon path {
  fill: var(--dark-gray-2);
  
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
  border-radius: 150px;
  box-shadow: 0px 4px 25px #0000000d;
  background-color: #ffff;
  width: 94px;

  &:hover {
    cursor: pointer;
    .svg-icon path {
      fill: var(--primary);
      transition: 0.3s;
    }
  }
}

.collection-h3-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font: Text Large Bold;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #474747;
}

.icon-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  gap: 40px;
  overflow-y: auto;
  margin-top: 20px;
}

.icon-options > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon-options > div > h4 {
  font-weight: 700;
  font-size: 14px;
  color: var(--dark-gray-2);
}


@media (max-width: 550px) {
  .collection-card div {
    max-width: none;
    height: 200px;
  }
}